.card_container {
  max-height: 346px;
  min-width: 292px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px #fbb03f;
  border-radius: 20px;
  word-wrap: break-word;

}


.img_container {
  width: 292px;
  margin-bottom: 10px;
  transition: height .5s ease-in;


}

.card_img {
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 20px;
  height: 0;
  opacity: 0;
  width: 100%;

  transition: height .5s ease-in;

}

.title_article {
  height: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: default;

}

.title_article>h4 {


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: -0.015em;

padding-top: 20px;

color: #FBB03F;

}

.article_container {
  width: 210px;
  height: 0;
  opacity: 0;
  transition: height .5s ease-in;
  overflow: hidden;

}

.description_article {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #868686;
  padding: 11px 25px;

}

/* ACTIVES */
.active {
  opacity: 1;
  height: 194px;
  width: 295px;
}

.card_hidden {
  background-color: #fbb03f;
  height: 40px;
  align-items:center;
}

.title_hidden {
  cursor: pointer;

}

.title_hidden>h4 {
  color: #ffffff;
  height: fit-content;
  font-size: 16px;
  margin-top: -25px;
  /* padding-top: 0px; */

  }
/* END ACTIVES */

@media (min-width: 700px) {
  .card_container {
    min-height: 377px;
    max-width: 296px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid 1px #fbb03f;
    border-radius: 20px;
    word-wrap: break-word;
    transition: none;

  }

  .img_container {
    opacity: 1;
    height: 196px;
    width: 296px;

  }

  .card_img {
    height: 196px;
    width: 296px;
    object-position: center;
    object-fit: cover;
    border-radius: 20px;
    opacity: 1;
  }

  .title_article>h4 {

    /* padding: 0 15px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: -0.015em;
    /* N'QUISPE */
    color: #FBB03F;

  }

  .description_article {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.015em;
    /* padding-inline: 33px; */
    padding: 0px 25px;

    color: #868686;

  }
  .title_hidden>h4 {
    color: #fbb03f;
  }


  .article_container {

    transition: none;
    height: 196px;
    width: 296px;
    opacity: 1;
    transition: none;
  }

  .active {
    height: 196px;
    width: 296px;
  }

  .card_hidden {
    background-color: #ffffff;
    height: 377px;

    }

  .title_hidden {
    cursor: default;
    margin-top: 25px;

    }


}

@media (min-width: 700px) {

}