.container {
  /* max-height: 100%; */
  height: 100%;
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-rows: 2fr 8fr;
  grid-template-areas:
    'title_container'
    'cards_container';
  place-content: center;
}

.cards_container {
  grid-area: cards_container;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.title_container {
  grid-area: title_container;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.015em;

  color: #000000;
}

.title_container>h3 {
  width: 292px;
  /* padding-top: 37px; */


}

@media (min-width: 700px) {
  .container {
    height: 100%;
    /* width: 100%; */
    /* min-height: 950px; */
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
      'title_container'
      'cards_container';
  }

  .cards_container {
    width: 80%;
    display: grid;

    grid-auto-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-items: center;
    align-items: center;

    justify-self: center;

    gap: 10px;
  }

  .title_container {
    grid-area: title_container;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


  }

  .title_container>h3 {
    max-height: 33px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.015em;
    white-space: nowrap;
    color: #000000;

  }
}


@media (min-width: 1025px) {
  .container {
    height: 100%;
    width: 100%;
    min-height: 700px;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-areas:
      'title_container'
      'cards_container';
    background-color: #fff;
  }

  .cards_container {
    grid-area: cards_container;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    }

  .title_container {
    grid-area: title_container;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 60px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-align: center;
  }
  }