.container {
  /* max-height: 100%; */
  min-height: 100vh;
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-rows: .5fr .5fr 9fr;

  grid-template-areas:
  'span'
    'title_container'
    'cards_container';
  place-content: center;
  /* place-items: center; */
}
.title_container {
  grid-area: title_container;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: end;
  color: #000000;
  }

  .title_container>h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.015em;
  margin: 0;
  padding-bottom: 1em;
  }

  .cards_container {
    grid-area: cards_container;

    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


@media (min-width: 700px) {
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 8fr;
    grid-template-areas:
      'title_container'
      'cards_container';
    background-color: #fff;
    /* overflow: hidden; */
    place-content: center;
    }

    .title_container {
      grid-area: title_container;
      font-family: Inter;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -0.015em;
      align-self: end;
      padding-bottom: 25px;

      }

      .cards_container {
        grid-area: cards_container;
        height: 100%;
        width: 90vw;
        background-color: #fff;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 296px), 1fr));
        align-items: start;
        justify-items: center;
        gap: 1rem;
        /* padding-top: 15px; */
  }
  }