.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #868686; */
    width: 100%;
    height: 100%;
}

.content_box {

    min-height: 90vh;
    width: 91%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'title''images_container''article';
    /* background-color: aqua; */

}

.title {
    grid-area: title;
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
}

.title>h2 {

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    /* line-height: 30px; */
    letter-spacing: -0.015em;
    margin: 0;


    color: #000000;

}

.article {
    height: auto;
    /* max-width: 35vh; */
    grid-area: article;
    display: grid;
    grid-template-rows: 15% 85%;
    gap: .6rem;
    padding-inline: 2em;

}

.article>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    /* N'QUISPE */
    color: #FBB03F;
    height: 100%;
    align-content: center;

}

.article p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8em;
    /* line-height: 1.1em; */
    text-align: center;
    letter-spacing: -0.015em;
    height: 100%;
    /* padding: 1em; */


    color: #868686;

}

.images_container {
    grid-area: images_container;
    width: 100%;
    height: auto;
    display: flex;
    place-items: center;
    place-content: center;
}

.images_container>img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center;

}

@media (max-width: 350px) {

    .container {
        min-height: 107vh;
    }

    .article p {
        font-size: 0.7em;

        color: #868686;

    }

    .article>span {
        font-size: .9em;
    }
}


@media (min-width: 600px) {
    .container {
        /* max-height: fit-content; */
        height: auto;
        /* flex-direction: column;
        justify-content: start; */
        /* background-color: #FBB03F; */
    }

    .content_box {
        max-height: 82%;
        /* background-color: #6f1b1b; */
        grid-template-rows: auto auto auto;
        grid-template-areas: 'title''images_container''article';

    }

    .title {
        justify-self: center;
    }

    .title>h2 {
        font-size: 30px;
        line-height: 36px;
        width: 100%;
        text-align: center;

    }

    .images_container {
        height: 100%;
    }

    .article {
        height: 100%;
        grid-template-rows: 20% 60%;
        align-items: center;
        justify-content: center;
        padding-inline: max(6rem, 16vw);
    }

    .article>span {


        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 1.2em;
        line-height: 1.4em;
        letter-spacing: -0.015em;

        /* N'QUISPE */
        color: #FBB03F;
        margin: 0;
        text-align: center;
        height: 100%;
        align-content: center;
    }

    .article p {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1.1em;
        line-height: 1.3em;
        letter-spacing: -0.015em;
        color: #868686;
        height: 100%;
        text-align: center;
        /* align-content: start; */
    }
}

@media (min-width: 1025px) {
    .container {
        /* background-color: #868686; */
        flex-direction: column;
        justify-content: end;
    }

    .content_box {
        max-height: 83%;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto;
        grid-template-areas: 'title images_container '
            ' article images_container';
        place-content: center;
        place-items: center;
        align-self: center;
        /* background-color: aqua; */
    }



    .images_container {
        grid-area: images_container;

    }

    .article,
    .title {
        max-width: 82%;
    }

    .title,
    .article,
    .article>span,
    .article>p {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .title>h2 {
        text-align: start;
        max-width: 82%;
        justify-self: center;
        font-size: 2em;
    }

    .article>span {
        text-align: start;
        max-width: 82%;
        justify-self: center;
        font-size: 1.2em;
    }

    .article>p {
        font-size: 1.1em;
        text-align: justify;
        /* align-content: center; */
        max-width: 82%;
        justify-self: center;

    }

}