.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers_container {
  min-height: 92vh;
  /* height: 100%; */
  width: 82%;
  display: grid;
  grid-template-rows: 1.5fr 6.5fr;
  grid-template-areas:
    'title_container '
    'flags_container';
  place-items: center;
  place-content: center;
}

.title_container {
  grid-area: title_container;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_container>h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4em;
  line-height: 30px;
  text-align: center;
  margin: 0;
  width: 100%;
  color: #000000;
  padding-bottom: 1em;
  justify-self: center;
}

.title_container>span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: .87em;
  line-height: 17px;
  text-align: center;

  margin: 0;
  color: #868686;
  width: 100%;

}

.flags_container {
  grid-area: flags_container;
  width: 100%;
  height: 100%;
  max-width: min(80vw, 700px);

  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(min(30vw, 150px), 1fr));
  align-content: center;
  justify-content: center;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; */
  filter: grayscale(100%);
  place-items: center;
  /* gap: 2rem; */

}

.flag {
  max-width: 90px;
  display: flex;

  padding-inline: 10px;
  align-items: center;
  align-self: center;
}

.flag>img {
  margin: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.gcz,
.eternit {
  filter: invert(100%) sepia(0%) saturate(300%) hue-rotate(180deg);

}

.piramide {
  min-width: 120px;
}

.tqc>img, .molinosasociados>img {
  max-width: 75%;
  margin: auto;

}

.autoland>img {
  filter: brightness(0) invert(1);
}

.autoland {
  background-color: #635656;
  /* padding: 13px 8px; */
  padding-block: 13px;
}

.cobrecon {
  min-width: 120px;
}

@media (min-width:600px) {
  .customers_container {
    min-height: 62vh;
    /* height: 100%; */
    width: 92%;
    display: grid;
    grid-template-rows: 1.5fr 6.5fr;
    grid-template-areas:
      'title_container '
      'flags_container';
    place-items: center;
    place-content: center;
  }


  .flags_container {

    grid-area: flags_container;
    width: 100%;
    height: 100%;

    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: 0.25fr;
    grid-template-columns: repeat(auto-fit, minmax(min(30vw, 110px), 1fr));



    /* gap: 2rem; */



  }

  .flag {
    /* width: 200px; */
    max-width: 120px;
    /* height: auto; */
  }

  .title_container>h3 {



    font-size: 2em;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
  }

  .title_container>span {
    font-size: 1em;
  }
}

@media (min-width:650px) {

  .customers_container {
    width: 55%;
    min-height: 55vh;
    grid-auto-columns: 1fr;
    grid-template-rows: 1.5fr 6.5fr;
    align-items: start;
    /* background-color: #868686; */
  }

  .title_container {
    font-size: 1.2em;

  }

  .flags_container {
    grid-auto-rows: 0.25fr;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 3rem;
    max-width: 100%;
  }

  .flags_container>*:last-child {

    justify-self: center;
  }

  .cobrecon, .piramide {
    min-width: 160px;
  }

  .flags_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30vw, 150px), 1fr));
    justify-content: center;
    /* Otras propiedades */
  }

  .flags_container::after {
    content: "";
    width: 0;
    grid-column: 1 / -1;
    /* Este pseudo-elemento ocupa todas las columnas */
    visibility: hidden;
    /* Lo hacemos invisible */
  }


}