@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.nav {
  position: absolute;

  background-color: #33333300;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.home {
  grid-area: home;
}
.about-us {
  grid-area: about-us;
}
.services {
  grid-area: services;
  height: 100%;
  width: 100%;
}
.customers {
  grid-area: customers;
}
.contact-us {
  grid-area: contact-us;
}
.container-sections {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto auto;
  grid-template-areas: 'home' 'about-us' 'services';
  /* 'home' 100vh; */
  /* 'about-us' 80vh 'services' 70vh 'customers' 70vh 'contact-us' 100vh; */

}
/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 16px;
  background-color: rgb(18, 18, 22);
}

/* Estilo para la manija de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #fbb03fa7;
  border-radius: 6px;
}